/* Reinicio de estilos para evitar problemas de compatibilidad */
@use "../global/variables";
body {
  background-color: variables.$background-color;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
